<footer class="container-fluid page-footer font-small">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
      <div
        id="footer"
        class="footer-copyright text-center py-3 text-dark fs-12"
      >
        &copy; Todos os direitos reservados: <strong>Peteca</strong>
        <div class="row d-flex justify-content-center">
          <a href="https://linktr.ee/p2eteca" target="blank"
            ><img src="./assets/img/tree1.png" alt="" class="mb-3"
          /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
