<footer class="page-footer font-small bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white"></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="socialNetwork">

                    <!-- Github -->

                    <a class="btn btn-primary btn-floating m-1 " href="https://github.com/Gstv-web/ProjetoPetecaFront" target="blank ">
                        <i class="fa fa-github-alt" aria-hidden="true"></i>
                    </a>
                </ul>

            </div>
        </div>
    </div>

    <div id="footer" class="footer-copyright text-center py-3">
        <span class="text-light"> &copy; 2022 Copyright </span>
        <a class="text-light" target="_blank" href=""> Feito com carinho: Projeto Peteca</a>
    </div>


</footer>