#rodape {
    background-image: url(../../assets/img/bg-footer.svg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    font:'Poppins';

}

img{
  height:6vh;
  
}




