.container-fluid {
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/edite-user.png");
  background-position: 100%;
  background-repeat: no-repeat;
  background-color: cover;
}

#recebe-dado {
font-weight: 900;
}

h1 {
  font-weight: 900;
  color: black;
  text-justify: center;
}

#botao-cancelar {
  font-weight: 600;
  border: transparent;
  width: 200px;
  height: 40px;
  border: transparent;
  align-content: center;
  box-shadow: 0 3px 6px 0 #00000029;
  padding: 02%;
  background-color: white;
}

#botao-atualizar {
  font-weight: 600;
  border: 0 none;
  width: 200px;
  height: 40px;
  border: transparent;
  align-content: center;
  box-shadow: 0 3px 6px 0 #00000029;
  padding: 02%;
  background-color: white;
}

.form-control.rounded-pill {
  border: transparent;
}

#form {
  background-color: #00C2E0;
  border: 0 none;
  box-shadow: 0 3px 6px 0 #00000029;
  padding: 4%;
  margin: 1%;
  border-radius: 7px;
  box-shadow: 0 3px 6px 0 #00000029;
  background-color: #fffdf7bf;
  border: transparent;
}

