<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#conteudoNavbarSuportado"
      aria-controls="conteudoNavbarSuportado"
      aria-expanded="false"
      aria-label="Alterna navegação"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse y-0" id="conteudoNavbarSuportado">
      <ul class="navbar-nav mr-auto d-flex align-items-center">
        
        <li class="nav-item active">
          <img
            src=""
            alt="Logo do Peteca"
            width="50px"
            heigth="50px"
            class="img-fluid rounded-circle"
          />
        </li>

        <li class="nav-item pl-3">
          <p class="m-0 font-weight-bold text-white fs-16">
            Seja bem-vinde!
          </p>
        </li>

        <li class="nav-item pl-3">
          <a href="">
            <p class="text-white fs-16 m-0">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </p>
          </a>
        </li>
      </ul>

      
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item pl-3">
          <a class="m-0 mr-3 font-weight-bold text-white fs-16"
            >Sair <i class="fa fa-sign-out" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
</nav>

