#bg-cadastrar {
    background-image: url("../../assets/img/bg-cadastrar@2x.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: transparent;
  box-shadow: 0 3px 6px 0 #00000029;
  background-color: #fffdf7bf;
}

h1{
  font-weight: 900;
  text-align: center;
  color: #000;
}

#form {
    padding: 0 70px !important;
    border-radius: 7px;
    background-color: #00c2e0;
    box-shadow: 0 3px 6px 0 #00000029;
    background-color: #fffdf7bf;
    border: transparent;


}

.btnCadastrar {
    font-weight: 600;
    background-color: #F5952C;
    border: transparent;
    width: 495.7px;
    height: 64.5px;
    border-radius: 30px;
    border: transparent;
}

.btnCancelar {
  box-shadow: #000;
    font-weight: 600;
    background-color: #856AB4;
    width: 495.7px;
    height: 64.5px;
    border-radius: 30px;
    border: transparent;
}

#input {
  border-radius: 35.5px;
  box-shadow: 0 3px 6px 0 #00000029;
  background-color: #fffdf7c2;
  border: transparent;
  font-style: italic;
  font-size: small;
}

.form-control {
  border: transparent;
  box-shadow: 0 3px 6px 0 #00000029;
  background-color: #fffdf7c2;
}


#indicador {
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

placeholder {
  font-style: italic;
}
