<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" id="bgImg"></div>
        <div class="col-md-6 mt-5 mb-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10">

                    <h1 class="text-center">Cadastro</h1>

                    <div class="form-group">
                        <label for="nome">Razão Social:</label>
                        <input [(ngModel)]="user.razaoSocial" class="form-control" type="text" name="nome" id="nome" placeholder="Nome Completo">
                    </div>

                    <div class="form-group">
                        <label for="usuario">Usuario:</label>
                        <input [(ngModel)]="user.email" class="form-control" type="text" name="usuario" id="usuario" placeholder="Login">
                    </div>

                    <div class="form-group">
                        <label for="foto">Foto:</label>
                        <input [(ngModel)]="user.foto" class="form-control" type="text" name="foto" id="foto" placeholder="Coloque um link para sua foto">
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha:</label>
                        <input (input)="confirmSenha($event)" class="form-control" type="password" name="senha" id="senha" placeholder="Senha">
                    </div>

                    <div class="form-group">
                        <label for="confSenha">Confirmar Senha:</label>
                        <input [(ngModel)]="user.senha" class="form-control" type="password" name="confSenha" id="confSenha" placeholder="Confirme sua Senha">
                    </div>


                    <div class="form-group">
                        <label for="contato">Contato:</label>
                        <input [(ngModel)]='user.contato' class="form-control" type="text" name="contato" id="contato" placeholder="Contato">
                    </div>


                    <div class="form-group">
                        <label for="confSenha">Endereço:</label>
                        <input class="form-control" [(ngModel)]='user.endereco' type="text" name="endereco" id="endereco" placeholder="Endereço">
                    </div>

                    <div class="form-group">
                        <label for="tipo">Tipo de Usuário:</label>
                        <select class="form-control" name="tipo" id="tipo" (change)="tipoUser($event)">
                            <option value="">Selecione um tipo de Usuário</option>
                            <option value="ONG">ONG</option>
                            <option value="EMPRESA">Empresa</option>
                            <option value="ORGGOVERNAMENTAL">Orgão Governamental</option>
                        </select>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-5" routerLink="/entrar">Cancelar</button>
                        <button type="submit" class="btn btn-success" (click)="cadastrar()">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
