<div class="container-fluid" id="bg-cadastrar">
  <div class="col-md-10 d-flex justify-content-center">
    <div id="form" class="col-md-6 mt-5 mb-5 d-flex justify-content-center">
      <div class="col-md-10">
        <h1 class="text-center my-5">Cadastro</h1>

        <div class="form-group">
          <!-- <label for="nome">Razão Social:</label> -->
          <p class="col-md-6 mb-1 mt-4" id="indicador">
            Razão Social
          </p>
          <input
            [(ngModel)]="user.razaoSocial"
            class="form-control rounded-pill"
            id="input"
            type="text"
            name="nome"
            id="nome"
            placeholder="razão social"
          />
        </div>

        <div class="form-group">
          <!-- <label for="usuario">Usuario:</label> -->
          <p class="col-md-6 mb-1 mt-4" id="indicador">Email</p>
          <input
            [(ngModel)]="user.email"
            class="form-control rounded-pill"
            id="input"
            type="text"
            name="usuario"
            id="usuario"
            placeholder="email (email@email.com)"
          />
        </div>

        <div class="form-group">
          <!-- <label for="foto">Foto:</label> -->
          <p class="col-md-6 mb-1 mt-4" id="indicador">Foto</p>
          <input
            [(ngModel)]="user.foto"
            class="form-control rounded-pill"
            id="input"
            type="text"
            name="foto"
            id="foto"
            placeholder="coloque um link para sua foto"
          />
        </div>

        <div class="form-group">
          <!-- <label for="senha">Senha:</label> -->
          <p class="col-md-6 mb-1 mt-4" id="indicador">Senha</p>
          <input
            (input)="confirmSenha($event)"
            class="form-control rounded-pill"
            id="input"
            type="password"
            name="senha"
            id="senha"
            placeholder="senha"
          />
        </div>

        <div class="form-group">
          <!-- <label for="confSenha">Confirmar Senha:</label> -->
          <input
            [(ngModel)]="user.senha"
            class="form-control rounded-pill"
            id="input"
            type="password"
            name="confSenha"
            id="confSenha"
            placeholder="confirme sua senha"
          />
        </div>

        <div class="form-group">
          <!-- <label for="contato">Contato:</label> -->
          <p class="col-md-6 mb-1 mt-4" id="indicador">Contato</p>
          <input
            [(ngModel)]="user.contato"
            class="form-control rounded-pill"
            id="input"
            type="text"
            name="contato"
            id="contato"
            placeholder="contato"
          />
        </div>

        <div class="form-group">
          <!-- <label for="confSenha">Endereço:</label> -->
          <p class="col-md-6 mb-1 mt-4" id="indicador">Região</p>
          <input
            class="form-control rounded-pill"
            id="input"
            [(ngModel)]="user.endereco"
            type="text"
            name="endereco"
            id="endereco"
            placeholder="localidade"
          />
        </div>

        <div class="form-group">
          <!-- <label for="tipo">Tipo de Usuário:</label> -->
          <p class="col-md-6 mb-1 mt-4" id="indicador">Tipo de usuário</p>
          <select
            class="form-control rounded-pill"
            name="tipo"
            id="tipo"
            (change)="tipoUser($event)"
          >
            <option value="">selecione um tipo de Usuário</option>
            <option value="ONG">Órgão não governamental (ONG)</option>
            <option value="EMPRESA">Empresa</option>
            <option value="ORGGOVERNAMENTAL">Orgão Governamental</option>
          </select>
        </div>
        <div class="d-flex justify-content-center my-5">
          <button
            type="submit"
            class="form-control-btn btnCancelar mr-5 rounded-pill text-white"
            routerLink="/sobre-nos"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="form-control-btn btnCadastrar rounded-pill text-white"
            (click)="cadastrar()"
          >
            Cadastrar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6"></div>
  </div>
</div>
