*,
*::before,
*::after {
  box-sizing: border-box;
}

.voltarCadastro {
  position: fixed;
  left: 10px;
  top: 15px;
  font-weight: bold;
  font-size: 16pt;
  color: #F5952C !important;
}


.topo {
  background-image: url("../../assets/img/carrossel-02.png");
  height: 40vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.titulo {
  font-size: 80px;
  font-weight:900;
  color: #F5952C;
  text-align: center;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background: #ffffff;
}

#logoPeteca {
  background-image: url(../../assets/img/logoTrans.png);
  background-position:center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 45%;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 3px;
  background: #F5952C;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: -254px;
}

.container.right {
  left: 254px;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  border: 2px solid #F5952C;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #F5952C;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 15px);
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #00C2E0;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -75px;
}

.container.right .date {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  border: 2px solid #F5952C;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #F5952C;
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 22px;
  font-weight: 800;
  color: #00C2E0;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 100px;
    border-color: transparent #00C2E0 transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}