 <div class="topo col-md-12 d-flex justify-content-center">
  <div class="voltarCadastro py-2 px-3">
    <a class="voltarCadastro" routerLink="/sobre-nos">
      <i class="editIcon fa fa-arrow-left" aria-hidden="true"></i>
      Início</a
    >
  </div>
  <h1 class="titulo d-flex justify-content-center align-items-center"><strong>Trabalho infantil - Linha do tempo</strong></h1>
</div>

<div class="container-fluid" id="logoPeteca">
  <div>
    <div class="timeline align-items-center">
      <div class="container left">
        <div class="date">2021</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Ano Internacional para a Eliminação do Trabalho Infantil</h2>
          <p class="text-justify">
            Definida pela Organização das Nações Unidas (ONU) em 2019, a resolução
            prevê o compromisso dos Estados membros em tomarem medidas para
            erradicar o trabalho infantil em todas as suas formas, conforme prevê a
            meta 8.7 dos Objetivos de Desenvolvimento Sustentável (ODS), que prevê a
            erradicação do trabalho infantil.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">2016</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Ano contra o trabalho infantil</h2>
          <p class="text-justify">
            A Comunidade dos Países de Língua Portuguesa (CPLP) elege o ano contra o
            trabalho infantil em seus territórios.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">2014</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Kailash Satyarthi ganha Nobel da Paz</h2>
          <p class="text-justify">
            Kailash Satyarthi, ativista indiano conhecido pelo combate ao trabalho
            infantil, ganha o Nobel da Paz. A conquista ocorreu ao lado da
            paquistanesa Malala Yousafzai. Ela foi baleada pelo Taleban por defender
            o direito das meninas de irem à escola.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">2013</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>3ª Conferência Global sobre o Trabalho Infantil</h2>
          <p class="text-justify">
            Ocorre a 3ª Conferência Global sobre o Trabalho Infantil, realizada no
            Brasil. O encontro reuniu líderes mundiais, especialistas e pessoas
            interessadas no tema. Também estavam presentes representantes de
            organizações internacionais e não governamentais, totalizando mais de
            mil, pessoas. No fim do evento, o documento chamado Declaração de
            Brasília citou a importância de acelerar os esforços em todos os níveis
            para erradicar o trabalho infantil, em particular suas piores formas até
            2016.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">2010</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Plano Nacional de Prevenção e Erradicação do Trabalho Infantil</h2>
          <p class="text-justify">
            É criado o Plano Nacional de Prevenção e Erradicação do Trabalho
            Infantil e Proteção ao Adolescente Trabalhador. Ele foi elaborado pela
            Comissão Nacional de Erradicação do Trabalho Infantil (CONAETI) e pela
            Organização Internacional do Trabalho (OIT). O objetivo é erradicar o
            trabalho infantil até o fim de 2020.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">2010</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>2ª Conferência Global sobre Trabalho Infantil</h2>
          <p class="text-justify">
            Ocorre a 2ª Conferência Global sobre Trabalho Infantil, com mais de 450
            delegados de 80 países, organizada pela ONU.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">2010</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Estatuto da Igualdade Racial</h2>
          <p class="text-justify">
            A Lei 12.288/10, institui o Estatuto da Igualdade Racial, destinado a
            garantir à população negra a efetivação da igualdade de oportunidades, a
            defesa dos direitos étnicos individuais, coletivos e difusos e o combate
            à discriminação e às demais formas de intolerância étnica.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">2008</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Lei 11.645</h2>
          <p class="text-justify">
            A Lei 11.645 ampliou a ação da Lei 10.639, que incluiu no currículo
            oficial da rede de ensino a obrigatoriedade do ensino da temática
            “História e Cultura Afro-Brasileira e Africana”. Com a mudança, passou a
            ser exigido também o ensino da “História e Cultura Indígena”.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">2006</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Conanda assina a Resolução 113</h2>
          <p class="text-justify">
            Conanda assina Resolução 113. Institui que o Sistema de Garantia dos
            Direitos da Criança e do Adolescente envolve instâncias governamentais e
            sociedade civil. A ideia é efetivar a prática dos direitos humanos da
            criança e do adolescente, na União, estados e municípios.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">2003</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Lei 10.639</h2>
          <p class="text-justify">
            A Lei 10.639, de 2003, alterou dispositivos da Lei de Diretrizes e Bases
            da Educação Nacional (LDB/1996), documento que organiza toda a educação
            básica brasileira. O texto aponta que os conteúdos trabalhados na escola
            deve incluir “luta dos negros no Brasil, a cultura negra e formação da
            sociedade nacional resgatando a contribuição do povo negro nas áreas
            social, econômica e política pertinente à História do Brasil”.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">2002</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Instalação da CONAETI</h2>
          <p class="text-justify">
            Instalação da Comissão Nacional de Erradicação do Trabalho Infantil
            (CONAETI), coordenada pelo Ministério do Trabalho e Emprego, com
            objetivo de elaborar o Plano Nacional de Erradicação do Trabalho
            Infantil.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">2001</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Conferência de Durban</h2>
          <p class="text-justify">
            Promovida pela Organização das Nações Unidas contra o racismo e ódio aos
            estrangeiros, a Terceira Conferência Mundial contra o Racismo, a
            Discriminação Racial, a Xenofobia e Formas Correlatas de Intolerância –
            conhecida como Conferência de Durban – foi a primeira conferência
            patrocinada pela ONU, realizada na cidade de Durban, na África do Sul.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">2000</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Lei do Aprendiz</h2>
          <p class="text-justify">
            É regulamentada a Lei do Aprendiz, que altera alguns dispositivos da
            CLT. Ela assegura ao aprendiz formação técnico-profissional compatível
            com seu desenvolvimento físico, moral e psicológico.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">2000</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Criação da Coordinfância</h2>
          <p class="text-justify">
            É criada a Coordenadoria Nacional de Combate à Exploração do Trabalho da
            Criança e do Adolescente (Coordinfância), uma das áreas temáticas do
            Ministério Público do Trabalho (MPT). Com a missão de coordenar
            nacionalmente as ações voltadas para o enfrentamento do trabalho
            infantil, é composta por representantes da Procuradoria-Geral do
            Trabalho, das Procuradorias Regionais do Trabalho nos Estados e das
            Procuradorias do Trabalho em Municípios.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1999</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Convenção 182 da OIT</h2>
          <p class="text-justify">
            Fala sobre a proibição das Piores Formas de Trabalho Infantil e ação
            imediata para a eliminação.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1998</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Idade mínima para trabalho</h2>
          <p class="text-justify">
            No Brasil, é alterada a idade mínima para trabalho, em 1998. Ela passa a
            ser 16 anos, de acordo com a Emenda Constitucional 20.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1998</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Marcha Global contra o Trabalho Infantil</h2>
          <p class="text-justify">
            O indiano Kailash Satyarthi organizou uma marcha global contra o
            trabalho infantil, que mobilizou mais de sete milhões de pessoas em 103
            países e terminou na sede da OIT em Genebra, durante a realização da 86ª
            Sessão da Conferência Internacional do Trabalho. O movimento inspirou a
            primeira versão da Convenção 182 da OIT sobre a erradicação das piores
            formas de trabalho infantil, que um ano depois seria aprovada por
            unanimidade na mesma conferência.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1996</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Programa de Erradicação do Trabalho Infantil (PETI)</h2>
          <p class="text-justify">
            É criado o Programa de Erradicação do Trabalho Infantil (PETI), com foco
            no combate às piores formas de trabalho infantil. É um programa de
            transferência de renda para famílias com crianças e adolescentes entre 7
            e 15 anos que trabalham. Posteriormente foi incorporado ao Bolsa
            Família.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1995</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Conferência Nacional dos Direitos da Criança</h2>
          <p class="text-justify">
            Ocorre a 1ª Conferência Nacional dos Direitos da Criança. O objetivo é
            ampliar a discussão sobre os direitos da criança e do adolescente.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1994</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Criação do FNPETI</h2>
          <p class="text-justify">
            Criação do Fórum Nacional de Prevenção e Erradicação do Trabalho
            Infantil (FNPETI), em 29 de novembro. Representantes do governo, de
            trabalhadores, de empregadores, do Sistema de Justiça, de organizações
            não governamentais, da OIT e do UNICEF assinaram a ata de criação do
            Fórum.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1992</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Criação do Conanda</h2>
          <p class="text-justify">
            Ocorre a criação do Conanda – Conselho Nacional dos Direitos da Criança
            e do Adolescente. A missão é formular políticas públicas e contribuir
            para o cumprimento do ECA.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1990</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Estatuto da Criança e do Adolescente (ECA)</h2>
          <p class="text-justify">
            É promulgado o Estatuto da Criança e do Adolescente (ECA), no Brasil. O
            documento foi elaborado após debate com vários segmentos da sociedade.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1998</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Convenção Internacional dos Direitos da Criança</h2>
          <p class="text-justify">
            É aprovada a Convenção Internacional dos Direitos da Criança. Ela é um
            dos mais importantes tratados de direitos humanos. Foi ratificada por
            todos os países membros da ONU, com exceção dos Estados Unidos e da
            Somália.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1989</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Convenção sobre os direitos da criança</h2>
          <p class="text-justify">
            ONU adota a Convenção Sobre os Direitos da Criança, do Fundo das Nações
            Unidas para a Infância (Unicef). Nela, especifica que a criança tem
            direito a ser protegida contra a exploração econômica e do trabalho
            perigoso. Qualquer pessoa com menos de 15 anos não pode servir às Forças
            Armadas.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1988</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Constituição Federal do Brasil</h2>
          <p class="text-justify">
            É promulgada a Constituição Federal do Brasil, marcada por avanços na
            área social.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1988</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Idade mínima para trabalho</h2>
          <p class="text-justify">
            Brasil proíbe o trabalho realizado por pessoas com menos de 14 anos.
            Adolescentes com menos de 18 anos não podem realizar trabalho noturno,
            perigoso e insalubre.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1987</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Direitos da criança e do adolescente na Constituição</h2>
          <p class="text-justify">
            Um grupo de trabalho se reuniu para concretizar os direitos da criança e
            do adolescente na Constituição Brasileira. O encontro foi presidido pelo
            deputado Ulysses Guimarães e ocorreu pela Assembleia Nacional
            Constituinte. A ação resultou no artigo 227, três anos depois.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1983</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Pastoral da Criança</h2>
          <p class="text-justify">
            É criada a Pastoral da Criança, em nome da Conferência Nacional dos
            Bispos do Brasil (CNBB). Redes de solidariedade são formadas para
            proteção da criança e do adolescente.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1979</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Segundo Código de Menores</h2>
          <p class="text-justify">
            É aprovado o Segundo Código de Menores. Ele manteve a mesma linha de
            arbitrariedade, assistencialismo e repressão com a população
            infanto-juvenil.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1974</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Idade mínima para aprendizes</h2>
          <p class="text-justify">
            A Lei 5.274 determina que a idade mínima para aprendizes volta a ser 14
            anos, como no Decreto 1943.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1973</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Convenção 138 da OIT</h2>
          <p class="text-justify">
            Define a idade mínima de 15 anos para admissão ao trabalho no mundo.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1967</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Idade mínima para aprendizes</h2>
          <p class="text-justify">
            Decreto da Lei nº 229 reduz a idade mínima dos aprendizes de 14 para 12
            anos, no Brasil.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1964</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Criada a Funabem</h2>
          <p class="text-justify">
            É criada a Fundação do Bem Estar do Menor (Funabem), pelo primeiro
            governo militar, com a intenção de formular e implementar a Política
            Nacional do Bem-Estar do Menor. A Funabem e algumas Febens apresentaram
            inovações pedagógicas e outras ficaram marcadas pela repressão e
            violência.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1950</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Unicef chega ao Brasil</h2>
          <p class="text-justify">
            O Fundo das Nações Unidas para a Infância (Unicef) chega ao Brasil, em
            João Pessoa (PB), com programas de proteção à saúde de crianças e
            gestantes nos estados do nordeste do país.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1948</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Declaração Universal dos Direitos Humanos</h2>
          <p class="text-justify">
            É aprovada a Declaração Universal dos Direitos Humanos, que aumenta os
            direitos à população infantil.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1946</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Criação do Unicef</h2>
          <p class="text-justify">
            É criado o Fundo das Nações Unidas para a Infância (Unicef), tendo como
            primeiro programa a assistência a crianças no período do pós-guerra na
            Europa, no Oriente Médio e na China.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1945</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Criação da ONU</h2>
          <p class="text-justify">
            É criada, com 50 países fundadores, a Organização das Nações Unidas
            (ONU), com o propósito de manter a paz e segurança internacionais.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1943</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Consolidação das Leis de Trabalho (CLT)</h2>
          <p class="text-justify">
            Consolidação das Leis de Trabalho (CLT). Entre outras coisas, o
            documento regulamenta a atividade de aprendizes no mercado de trabalho.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1942</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Serviço de Assistência ao Menor</h2>
          <p class="text-justify">
            É criado pelo governo de Getúlio Vargas o Serviço de Assistência ao
            Menor, como um equivalente ao sistema penitenciário para a população com
            menos de 18 anos.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1930</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Ministério da Educação e Saúde Pública</h2>
          <p class="text-justify">
            É criado o Ministério da Educação e Saúde Pública, no governo provisório
            de Getúlio Vargas.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1930</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Proteção de crianças em trabalho forçado</h2>
          <p class="text-justify">
            OIT inicia proteção de crianças em trabalho forçado ou obrigatório, como
            vítimas de tráfico, escravidão ou explorados pela prostituição e
            pornografia.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1927</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Código de Menores</h2>
          <p class="text-justify">
            É promulgado no Brasil o Código de Menores, primeiro documento legal
            para pessoas com menos de 18 anos.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1924</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Declaração de Genebra</h2>
          <p class="text-justify">
            É aprovada “A Declaração de Genebra”, primeiro documento internacional
            sobre os direitos da criança, redigido pela ONG Save The Children.
            Considera-se que deu origem à Convenção de Direitos da Criança, de 1989.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1923</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Juizado de Menores</h2>
          <p class="text-justify">
            É criado o primeiro Juizado de Menores no Brasil.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1919</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Criação da OIT</h2>
          <p class="text-justify">
            Na primeira convenção da Organização Internacional do Trabalho (OIT),
            com participação da Bélgica, Cuba, a antiga Checoslováquia, Estados
            Unidos, França, Itália, Japão, Polônia e Reino Unido, a entidade proíbe
            o trabalho realizado por pessoas com menos de 14 anos.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1919</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Nasce a Save the Children</h2>
          <p class="text-justify">
            Surge a Save the Children, na Inglaterra, a primeira entidade
            internacional cuja missão era proteger e cuidar das crianças vítimas da
            I Guerra Mundial. Foi fundada pela pacifista inglesa Eglantyne Jebb.
          </p>
        </div>
      </div>

      <div class="container left">
        <div class="date">1891</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Idade Mínima para trabalho no Brasil</h2>
          <p class="text-justify">
            O Decreto número 1313 determina a ideia mínima de 12 anos para trabalho
            no país.
          </p>
        </div>
      </div>

      <div class="container right">
        <div class="date">1888</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Lei Áurea</h2>
          <p class="text-justify">
            Após cerca de 300 anos de escravidão, a Lei Áurea é sancionada pela
            Princesa Isabel e aboliu os escravos. Apesar disso, o sistema deixou
            heranças até hoje.
          </p>
        </div>
      </div>

      <div class="container left pb-5">
        <div class="date">1871</div>
        <i class="icon fa fa-certificate"></i>
        <div class="content">
          <h2>Lei do Ventre Livre</h2>
          <p class="text-justify">
            É assinada por Princesa Isabel e considera livres da escravidão os
            filhos de escravas nascidos a partir da lei
          </p>
        </div>
      </div>

    </div>
  </div>
</div>
