<div class="container-fluid">
  <div class="container pt-4 mt-4">
    <div class="d-flex align-itens-center">
      <div
        class="col-md-6 d-flex flex-column align-itens-center justify-content-center"
      >
        <h2 class="fs-54 text-black">
          Procure ou publique alguma oferta aqui!
        </h2>
        <h5 class="fs-18 text-black">
          Navegue e contribua com nossa rede de apoio.
        </h5>
        <p></p>

        <!--Botões-->
        <div class="d-flex justify-content-start mt-5">
          <button
            class="btn btnLaranja text-white justify-content-center rounded-pill mr-4"
            data-toggle="modal"
            data-target="#novaPostagem"
          >
            Nova Postagem
          </button>

          <a
            class="btn btnLaranja text-white justify-content-center rounded-pill"
            href="#postagens"
            >Ver Postagem</a
          >
        </div>
      </div>

      <!--Imagem do Imgur-->

      <div class="col-md-6 d-flex justify-content-center">
        <img src="../../assets/img/cadastro.gif" alt="" width="450" />
      </div>
    </div>
  </div>
</div>

<!--NavBar-->
<div class="container-fluid" id="postagens">
<div class="container mt-5">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab">
      <a
        class="nav-link active text-secondary font-weight-bold"
        id="nav-home-tab"
        data-toggle="tab"
        href="#todasPostagens"
        role="tab"
        aria-controls="todasPostagens"
        aria-selected="true"
      >
        Todas as Postagens
      </a>

      <a
        class="nav-link text-secondary font-weight-bold"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#minhasPostagens"
        role="tab"
        aria-controls="minhasPostagens"
        aria-selected="false"
        (click)="findByIdUser()"
      >
        Minhas Postagens
      </a>

      <a
        class="nav-link text-secondary font-weight-bold"
        id="nav-profile-tab"
        data-toggle="tab"
        href="#postagemTema"
        role="tab"
        aria-controls="postagemTema"
        aria-selected="false"
      >
        Postagem por Tema
      </a>
    </div>
  </nav>

  <!--Começo das Postagens-->

  <div class="tab-content mt-3" id="nav-tabContent">
    <div
      class="tab-pane fade show active"
      id="todasPostagens"
      role="tabpanel"
      aria-labelledby="todasPostagens-tab"
    >


      <!--Todas as Postagens-->
      <div
        class="postagem d-flex flex-column align-items-center mx-auto justify-content-center col-md-9"
      >
        <div
          class="card mb-3"
          *ngFor="let item of listaPostagens | orderBy: key:reverse"
        >
          <div class="card-body">
            <!--Imagem, Razão Social e Data-->
            <div class="d-flex col-10 mb-4">
              <img
                src="{{ item.user.foto }}"
                class="rounded-circle w-25"
                alt="fotoDaEmpresa"
              />
              <div class="d-flex flex-column ml-5 justify-content-center">
                <p class="user card-text">
                  {{ item.user.razaoSocial }}
                </p>

                <p class="card-text">
                  publicado em: {{ item.data | date: "dd/MM/yyyy" }} às
                  {{ item.data | date: "HH:mm" }}
                </p>
              </div>
            </div>

            <!--Titulo, Demanda e Categoria-->
            <div class="row d-flex col-md-12 justify-content-between align-items-center mt-5">
              <h5 class="card-title">{{ item.titulo }}</h5>

              <small class="ml-3 d-flex align-items-center justify-content-end" *ngIf="item.demanda == 'OFERTA'; else elseBlock">Demanda: Oferta </small>
              <ng-template #elseBlock><small>Demanda: Procura </small></ng-template>

              <small class="ml-3" *ngIf="item.tipoPostagem == 'DOACAODEROUPA'">Categoria: Doação de roupas </small>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'DOACAODEALIMENTOS'">Categoria: Doação de alimentos </small></ng-container>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'VAGACURSOLIVRE'">Categoria: Vaga curso civre </small></ng-container>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'VAGACURSOPROFISSIONALIZANTE'">Categoria: Vaga curso profissionalizante </small></ng-container>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'VAGACONTRATURNO'">Categoria: Vaga contraturno/SCFV </small></ng-container>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'VAGAOFICINAS'">Categoria: Vaga oficinas </small></ng-container>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'VAGASOCIAL'">Categoria: Vaga social </small></ng-container>
            </div>

            <!--Descrição-->
            <div class="textoPost" style="height: 25vh">
              <pre>{{ item.descricao }}</pre>
            </div>

            <!--Localidade e botão-->
            <p>Localidade: {{ item.localidade }}</p>
            <div class="d-flex row justify-content-end mr-2 pt-2">
              <a href="https://wa.me/+5519971051856" target="blank"><button
                type="button"
                id="botao-sucesso"
                class="btn btn-success mr-5 rounded-pill" [ngStyle]="{'background-color':item.demanda === 'OFERTA' ? '#F5952C' : '#00C2E0' }"
              >
                {{
                  item.demanda == "OFERTA" ? "Quero ajuda!" : "Quero ajudar!"
                }}
              </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Minhas Postagens-->
    <div
      class="tab-pane fade"
      id="minhasPostagens"
      role="tabpanel"
      aria-labelledby="minhasPostagens-tab"
    >
      <div
        class="d-flex flex-column align-items-center mx-auto justify-content-center col-md-9"
      >
        <div
          class="card mb-3"
          *ngFor="let item of user.postagem | orderBy: key:reverse"
        >
          <div class="card-body">

            <!--Imagem, Razão Social e Data-->
            <div class="d-flex col-10 mb-4">
              <img
                src="{{ user.foto }}"
                class="rounded-circle w-25 img-fluid"
                alt="fotoDaEmpresa"
              />
              <div class="d-flex flex-column ml-5 justify-content-center">
                <p class="user card-text">
                  {{ razaoSocial }}
                </p>

                <p class="card-text">
                  publicado em: {{ item.data | date: "dd/MM/yyyy" }} às
                  {{ item.data | date: "HH:mm" }}
                </p>
              </div>
            </div>

            <!--Titulo, Demanda e Categoria-->
            <div class="row d-flex col-md-12 justify-content-between mt-5">
              <h5 class="card-title">Titulo: {{ item.titulo }}</h5>

              <small class="ml-3 d-flex align-items-center justify-content-end" *ngIf="item.demanda == 'OFERTA'; else elseBlock">Demanda: Oferta </small>
              <ng-template #elseBlock><small>Demanda: Procura </small></ng-template>

              <small class="ml-3" *ngIf="item.tipoPostagem == 'DOACAODEROUPA'">Categoria: Doação de roupas </small>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'DOACAODEALIMENTOS'">Categoria: Doação de alimentos </small></ng-container>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'VAGACURSOLIVRE'">Categoria: Vaga curso civre </small></ng-container>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'VAGACURSOPROFISSIONALIZANTE'">Categoria: Vaga curso profissionalizante </small></ng-container>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'VAGACONTRATURNO'">Categoria: Vaga contraturno/SCFV </small></ng-container>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'VAGAOFICINAS'">Categoria: Vaga oficinas </small></ng-container>
              <ng-container><small class="ml-3" *ngIf="item.tipoPostagem == 'VAGASOCIAL'">Categoria: Vaga social </small></ng-container>
            </div>

            <!--Descrição-->
            <div class="textoPost" style="height: 25vh">
              <pre>{{ item.descricao }}</pre>
            </div>

            <!--Localidade e botão-->
            <p>Localidade: {{ item.localidade }}</p>

            <button
              class="btn btn-outline-warning mr-3 rounded-pill"
              id="botao-editar-postagem"
            >
              <a
                data-toggle="modal"
                data-target="#editarPostagem"
                (click)="findByIdPostagem(item.id)"
              >
                Editar</a
              >
            </button>
            <button
              class="btn btn-outline-danger rounded-pill"
              id="botao-deletar-postagem"
            >
              <a
                data-toggle="modal"
                data-target="#deletarPostagem"
                (click)="findByIdPostagem(item.id)"
              >
                Apagar</a
              >
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Postagem por Tema -->
    <div
      class="tab-pane fade"
      id="postagemTema"
      role="tabpanel"
      aria-labelledby="postagemTema-tab"
    >
      <!-- <div class="tab-pane fade " id="minhasPostagens " role="tabpanel " aria-labelledby="minhasPostagens-tab "> -->

      <div
        class="d-flex flex-column align-items-center mx-auto justify-content-center col-md-9"
      >
        <select
          class="my-5 rounded-pill"
          name="tipo"
          id="tipo"
          (change)="select($event)"
        >
          <option value="" id="selecione-cat">Selecione uma categoria:</option>
          <option value="DOACAODEROUPA">Doação de roupas</option>
          <option value="DOACAODEALIMENTOS">Doação de alimentos</option>
          <option value="VAGACURSOLIVRE">Vaga de curso livre</option>
          <option value="VAGACURSOPROFISSIONALIZANTE">
            Vaga de curso profissionalizante
          </option>
          <option value="VAGACONTRATURNO">Vaga de contra turno</option>
          <option value="VAGAOFICINAS">Vaga Oficinas</option>
          <option value="VAGASOCIAL">Vaga Social</option>
        </select>
      </div>

      <div
        class="d-flex flex-column align-items-center mx-auto justify-content-center col-md-9"
      >
        <div
          class="card mb-3"
          *ngFor="let postagem of listaPostagens | orderBy: key:reverse"
        >
          <div class="card" *ngIf="postagem.tipoPostagem == selectPost">
            <div class="card-body">
              <div class="d-flex col-10 mb-4">
                <img
                  src="{{ postagem.user.foto }}"
                  class="rounded-circle w-25"
                  alt=""
                />
                <div class="d-flex flex-column ml-5 justify-content-center">
                  <p class="user card-text">
                    {{ postagem.user.razaoSocial }}
                  </p>
                  <p class="card-text">
                    <small class="text-muted">
                      publicado em:
                      {{ postagem.data | date: "dd/MM/yyyy " }} às
                      {{ postagem.data | date: "HH:mm " }}
                    </small>
                  </p>
                </div>
              </div>
              <div class="row d-flex col-md-12 justify-content-between mt-5">
                <h5 class="card-title m-0">{{ postagem.titulo }}</h5>
                <small class="ml-3">Demanda:{{ postagem.demanda }}</small>
                <small class="ml-3"
                  >Categoria:{{ postagem.tipoPostagem }}</small
                >
              </div>
              <div class="textoPost" style="height: 25vh">
                <pre>{{ postagem.descricao }}</pre>
              </div>
              <p>Localidade:{{ postagem.localidade }}</p>
              <div class="d-flex row justify-content-end mr-2">
                <button type="button" class="btn btn-success">
                  {{
                    postagem.demanda == "OFERTA"
                      ? "Quero ajuda!"
                      : "Quero ajudar!"
                  }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- Modal NOVA POSTAGEM-->

<div
  class="modal fade"
  id="novaPostagem"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalCentralizado"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button
          type="button"
          class="close rounded"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true" data-dismiss="modal">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Titulo:</label>
          <input
            type="text"
            class="form-control rounded"
            id="titulo"
            placeholder="Digite o Titulo"
            [(ngModel)]="postagem.titulo"
          />
        </div>

        <div class="form-group">
          <label for="demanda">Demanda:</label>
          <select
            class="form-control"
            name="demanda"
            id="demanda"
            (change)="tipoDemanda($event)"
          >
            <option value="">Selecione uma demanda:</option>
            <option value="OFERTA">Oferta</option>
            <option value="PPROCURA">Procura</option>
          </select>
        </div>

        <div class="form-group">
          <label for="categoria">Categoria</label>
          <select
            class="form-control rounded"
            name="categoria"
            id="categoria"
            (change)="tipoPostagem($event)"
          >
            <option value="">Selecione uma categoria:</option>
            <option value="DOACAODEROUPA">Doação de roupas</option>
            <option value="DOACAODEALIMENTOS">Doação de alimentos</option>
            <option value="VAGACURSOLIVRE">Vaga de curso livre</option>
            <option value="VAGACURSOPROFISSIONALIZANTE">
              Vaga de curso profissionalizante
            </option>
            <option value="VAGACONTRATURNO">Vaga de contra turno</option>
            <option value="VAGAOFICINAS">Vaga Oficinas</option>
            <option value="VAGASOCIAL">Vaga Social</option>
          </select>
        </div>

        <div class="form-group">
          <label for="texto">Texto:</label>
          <textarea
            class="form-control rounded"
            name="texto"
            id="texto"
            rows="3"
            [(ngModel)]="postagem.descricao"
          ></textarea>
        </div>

        <div class="form-group rounded">
          <label for="localidade">Localidade:</label>
          <input
            class="form-control"
            type="text"
            name="localidade"
            id="localidade"
            [(ngModel)]="postagem.localidade"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger rounded-pill"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success rounded-pill"
          (click)="publicar()"
          data-dismiss="modal"
        >
          Publicar
        </button>
      </div>
    </div>
  </div>
</div>

<!-- FIM MODAL NOVA POSTAGEM -->

<!-- Modal EDITAR POSTAGEM -->
<div
  class="modal fade align-items-center justify-content-center"
  id="editarPostagem"
  tabindex="-1 "
  role="dialog "
  aria-labelledby="TituloModalCentralizado "
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    role="document"
    id="editarPostagem"
  >
    <div class="modal-content" id="editarPostagem">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado ">
          Editar Postagem
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true" data-dismiss="modal">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="titulo ">Titulo</label>
          <input
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Digite o Titulo"
            [(ngModel)]="postagemEdit.titulo"
          />
        </div>

        <div class="form-group">
          <label for="demanda">Demanda</label>
          <select
            class="form-control"
            name="demanda"
            id="demanda"
            (change)="tipoDemanda($event)"
          >
            <option value="">Selecione uma demanda</option>
            <option value="OFERTA">Oferta</option>
            <option value="PPROCURA">Procura</option>
          </select>
        </div>

        <div class="form-group rounded-pill">
          <label for="categoria">Categoria</label>
          <select
            class="form-control"
            name="categoria"
            id="categoria"
            (change)="tipoPostagem($event)"
          >
            <option value="">Selecione uma categoria</option>
            <option value="DOACAODEROUPA">Doação de roupas</option>
            <option value="DOACAODEALIMENTOS">Doação de alimentos</option>
            <option value="VAGACURSOLIVRE">Vaga de curso livre</option>
            <option value="VAGACURSOPROFISSIONALIZANTE">
              Vaga de curso profissionalizante
            </option>
            <option value="VAGACONTRATURNO">Vaga de contra turno</option>
            <option value="VAGAOFICINAS">Vaga Oficinas</option>
            <option value="VAGASOCIAL">Vaga Social</option>
          </select>
        </div>

        <div class="form-group">
          <label for="texto">Texto:</label>
          <textarea
            class="form-control"
            name="texto"
            id="texto"
            rows="3"
            [(ngModel)]="postagemEdit.descricao"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="localidade">Localidade:</label>
          <input
            class="form-control"
            type="text"
            name="localidade"
            id="localidade"
            [(ngModel)]="postagemEdit.localidade"
          />
        </div>
      </div>
      <div class="modal-footer mr-4">
        <button
          type="button"
          class="btn btn-outline-danger rounded-pill"
          id="botao-cancelar-edicao"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-outline-success rounded-pill"
          id="botao-atualizar-postagem"
          (click)="atualizar()"
          data-dismiss="modal"
        >
          Atualizar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- FIM MODAL EDITAR POSTAGEM -->

<!-- Modal DELETAR POSTAGEM -->

<div
  class="modal fade"
  id="deletarPostagem"
  tabindex="-1"
  role="dialog"
  aria-labelledby="TituloModalCentralizado"
  aria-hidden="true "
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">
          Deletar Postagem
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Fechar"
        >
          <span aria-hidden="true" data-dismiss="modal">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group rounded-pill">
          <label for="titulo">Titulo:</label>
          <p>{{ postagem.titulo }}</p>
        </div>

        <div class="form-group rounded-pill">
          <label for="demanda">Demanda:</label>
          <p *ngIf="postagem.demanda == 'OFERTA'; else elseBlock">Oferta</p>
          <ng-template #elseBlock><p>Procura </p></ng-template>
        </div>

        <div class="form-group rounded-pill">
          <label for="categoria" >Categoria</label>
          <p *ngIf="postagem.tipoPostagem == 'DOACAODEROUPA'">Doação de roupas</p>
          <ng-container><p *ngIf="postagem.tipoPostagem == 'DOACAODEALIMENTOS'">Doação de alimentos</p></ng-container>
          <ng-container><p *ngIf="postagem.tipoPostagem == 'VAGACURSOLIVRE'">Vaga curso livre</p></ng-container>
          <ng-container><p *ngIf="postagem.tipoPostagem == 'VAGACURSOPROFISSIONALIZANTE'">Vaga curso profissionalizante</p></ng-container>
          <ng-container><p *ngIf="postagem.tipoPostagem == 'VAGACONTRATURNO'">Vaga contraturno/SCFV</p></ng-container>
          <ng-container><p *ngIf="postagem.tipoPostagem == 'VAGAOFICINAS'">Vaga oficinas</p></ng-container>
          <ng-container><p *ngIf="postagem.tipoPostagem == 'VAGAOSOCIAL'">Vaga social</p></ng-container>
        </div>

        <div class="form-group rounded-pill">
          <label for="texto">Texto:</label>
          <p>{{ postagem.descricao }}</p>
        </div>

        <div class="form-group rounded-pill">
          <label for="localidade">Localidade:</label>
          <p>{{ postagem.localidade }}</p>
        </div>
      </div>

      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-outline-danger rounded-pill"
          id="botao-cancelar"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-outline-success rounded-pill"
          id="botao-deletar"
          (click)="apagar()"
          data-dismiss="modal"
        >
          Apagar
        </button>
      </div>
    </div>
  </div>
</div>
