.nav-link{
    background: hidden;
    border: transparent;
    background-color: #00c2e017;
    box-shadow: 2px 2px 2px 2px rgba(105, 105, 105, 0.062);
  }

  .nav-link.active {
    border: transparent;
    background-color: #00c2e07a;
    box-shadow: 2px 2px 2px 2px rgba(105, 105, 105, 0.062);
    color: black;
  }

#postagens{
  /* background-image: url("../../assets/img/bg-feed@2x.png"); */
  background-color: #00c2e017;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent 0;
}


.btnLaranja{
    font-weight: 600;
    background-color: #F5952C;
    border: transparent;
    width: 200px;
    height: 40px;
    border-radius: 1%;
    border: transparent;
    border: 0 none;
  box-shadow: 0 3px 6px 0 #00000029;
}

pre {
    font-family: 'Poppins', 'sans-serif';
    white-space: pre-wrap;
    word-break: keep-all;
    margin-inline-start: 20px;
    padding-top: 15px;
}


.card {
    border-radius: 1%;
    max-width: 100%;
    border: none;
    box-shadow: 2px 2px 2px 2px rgba(105, 105, 105, 0.342);
    min-width: 100%;

}

.card-title {
    font-weight: 600 !important;
}

.textoPost {
    background-color: #00c2e017;
    box-shadow: 2px 2px 2px 2px rgba(105, 105, 105, 0.062);
    border-radius: 1%;
    padding: 1%;
}

p {
  margin-top: 1%;
  margin-bottom: 1%;
  font-style: italic;
  font-size: small;
}

.user {
    font-size: 22px !important;
    font-weight: 600 !important;
    font: 600;
    font-style: normal;
}

/* NOVA POSTAGEM / EDITAR POSTAGEM MODAL */
.modal-content {
    padding: 0 100px !important;
    border-radius: 1%;
    border-radius: 7px;
    background-color: #BBEDEE;
    border: 0 none;
    box-shadow: 0 3px 6px 0 #00000029;
    border: transparent;
    text-align: left;
}

#botao-sucesso {
  background-color: #00C2E0;
  box-shadow: 0 3px 6px 0 #00000029;
  font-weight: 900;
  border: 0 none;
}


#nav-tab {
  font-weight: 900;
  border: transparent;
}

#botao-editar-postagem{
  box-shadow: 0 3px 6px 0 #00000029;
  font-weight: 900;
}


#botao-deletar-postagem, #botao-cancelar-edicao, #botao-deletar, #botao-cancelar {
  box-shadow: 0 3px 6px 0 #00000029;
  font-weight: 900;
  background-color: white;
  border: none;
  box-shadow: 0 3px 6px 0 #00000029;
}

#tipo {
  border-radius: 2%;
  box-shadow: 0 3px 6px 0 #00000029;
  font-weight: 400;
}

#selecione-cat {
  box-shadow: 0 3px 6px 0 #00000029;
  font-weight: 400;
  border: 0 none;
    outline: 0;
}

/* EDITAR POSTAGEM */


#botao-atualizar-postagem {
  box-shadow: 0 3px 6px 0 #00000029;
  background-color: white;
}

.modal-title {
  font-weight: 900;
  color: black;
}
