<div id="bg" class="container-fluid">
    <div class="col-md-12 d-flex justify-content-center align-items-center vw-100 vh-100">
        <div class="col-md-6"></div>
        
        <div id="form" class="col-md-3 mt-5 bg-light">
            <h1 class="text-center mt-5">Login</h1>

            <div class="row my-4 justify-content-center">
                <div class="col-md-12 d-flex justify-content-center">
                    <ul class="lista-midia-social">
                        <a class="link-midia-social" href="#">
                            <li class="facebook">
                                <i class="fa fa-facebook-f"></i>
                            </li>
                        </a>
            
                        <a class="link-midia-social" href="#">
                            <li class="google">
                                <i class="fa fa-google"></i>
                            </li>
                        </a>
            
                        <a class="link-midia-social" href="#">
                            <li class="linkedin">
                                <i class="fa fa-linkedin"></i>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>

            <hr class="hr1 text-center mt-2">

            <div class="form-group">
                <input [(ngModel)]="credentials.email" class="form-control" type="text" name="usuario" id="usuario" placeholder="E-mail">
            </div>

            <div class="form-group">
                <input [(ngModel)]="credentials.senha" class="form-control" type="password" name="senha" id="senha" placeholder="Senha">
            </div>
            
            <div class="form-group">
                <button type="submit" class="form-control rounded-pill btnEntrar text-white" (click)="entrar()"><strong>Entrar</strong></button>
            </div>

            <p>Esqueceu sua senha?</p>

            <div class="row my-5"></div>

            <p class="text-center">
                Não tem uma conta? 😥 <a routerLink="/cadastrar">Cadastre-se</a>
            </p>

        </div>
    </div>
</div>