@media screen and (min-widht: 400px) {}


@font-face {
    font-family: Poppins;
    src: url('../../assets/fonts/Poppins/Poppins-Bold.ttf') format('ttf');
}

* {
    font-family: "Poppins";
    background-color: none;
    margin: auto;
}

a {
  color: white;
}

/* -------------------------------Dropdown----------------------------------- */
.dropdown-item{
  font-family: 'Poppins';
  font-weight: 600;
  color:white;
  background: none;
}

.dropdown-item:hover{
  color:black;
}

.dropdown-menu{
  background-color: transparent;
  border-radius: 7px;
  border: transparent;
  box-shadow: 3px 3px 3px 0px black;
}

/* -------------------------------------------------------------------------- */

#navbar {
  font-family: 'Poppins';
  font-weight: 600;
  color: white;
  padding: 0;
}

/* Logo */
#logo {
  height: 60%;
  width: 60%;
}

.botao-laranja {
  font-weight: 900;
  color: white;
  border: none;

  width: 260px;
  height: 60px;
  border: transparent;
  background-color: #f5952c;
  box-shadow: 3px 3px 3px 0px rgba(105, 105, 105, 0.493);
}

.botao-azul {
  font-weight: 900;
  color: white;
  border: none;

  width: 300px;
  height:60px;
  border: transparent;
  background-color: #00C2E0;
  box-shadow: 3px 3px 3px 0px rgba(105, 105, 105, 0.493);
}

#img-element {
    display: inline-block;
    align-items: center;
    width: 10%;
    height: 10%;
    border-radius: 70%;
    justify-content: center;
    justify-self: center;
    border: none;
    padding: auto;
    border: auto;
    align-items: center;
}

#maozinha {
  margin: 60px;
}

h1 {
  color: black;
  font-weight: 900
}

#titulo{
  width: 205px;
  height: 112px;
  font-size: 80px;
  font-weight: bold;
  margin-top: 60px;
}

/* CARROSSEL*/
#texto-carrossel {
  font-size: 200px;
  font-weight:900;
  color: #f5942c8c;
  text-align: center;
}
.img1 {
    background-image: url("../../assets/img/carrossel-01.png");
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url("../../assets/img/carrossel-02.png");
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url("../../assets/img/carrossel-03.png");
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

li {
    list-style-type: none;
}

.inicio {
    margin-top: -25px;
}

.navegacao {
    z-index: 10;
    position: relative;
}


/*FIM CARROSSEL*/

/* NOSSO-TIME */

#time-area{
  justify-items: center;
  padding-bottom: 6%;
  margin: 1%;
  border: 1%;
  text-align: center;
}
#descricao-element {
  color: black;
  font-style: normal;
  padding-bottom: 4%;
}

#titulo {
  padding-bottom: 8%;
}

h2{
  width: 205px;
  height: 112px;
  font-size: 80px;
  font-weight: bold;
  color: black;
}

/*DEPOIMENTOS*/
#depoimentos-section {
  margin: 40px;
}

#depoimentos-area {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: none;
    color: black;
    align-items: center;
    justify-content: center;
    padding-bottom: 4%;
    padding-top: 4%;
}

#aspas{
  font-size: x-large;
  font-weight: 800;
}
.card-body {
  padding-top: 4%;
  width: 100%;
  align-items: center;
}
/*FIM - DEPOIMENTOS*/




.form-control {
  border: transparent;
  box-shadow: 3px 3px 3px 0px rgba(105, 105, 105, 0.493);
  font-style: italic;
  font-size: small;
  color: rgba(0, 0, 0, 0.349);
}




