<div class="container-fluid" id="navbar">
  <div class="row navegacao">
    <nav class="d-block m-0 ml-auto">
      <ul class="d-flex justify-content-around align-items-center">

        <li class="mr-4">
          <a href="#sobre-nos">Sobre nós</a>
        </li>

        <li class="mr-4">
          <a href="#time-area">Nosso time</a>
        </li>

        <li class="mr-4">
          <a href="#depoimentos">Depoimentos</a>
        </li>

        <li class="mr-4 dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trabalho Infantil</a>
          <div class="dropdown-menu" aria-labelledby="dropdown">
            <a class="dropdown-item" routerLink="/informacao">Linha do tempo</a>
            <a class="dropdown-item" routerLink="/informacao">Estatística</a>
          </div>
        </li>
        
        <li class="mr-4">
          <a routerLink="/entrar">Login</a>
        </li>
        
        <li class="mr-4">
          <a routerLink="/entrar">Cadastro</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- CARROSSEL -->
  <div
    id="carouselExampleIndicators"
    data-interval="false"
    class="carousel slide inicio carousel-fade"
    data="carousel-fade"
  >
    <ol class="carousel-indicators">
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="0"
        class="active"
      ></li>
      <li
        data-target="#carouselExampleIndicators rounded-circle"
        data-slide-to="1"
      ></li>
      <li
        data-target="#carouselExampleIndicators rounded-circle"
        ata-slide-to="2"
      ></li>
    </ol>

    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <!-- imagens carrossel -->
        <div class="img1 d-block w-100">
          <h6 class="has-text-align-left" id="texto-carrossel">
            o f e r e ç a
          </h6>
        </div>
      </div>
      
      <div class="carousel-item">
        <div class="img2 d-block w-100">
          <h6 class="has-text-align-left" id="texto-carrossel">
            p r o c u r e
          </h6>
        </div>
      </div>

      <div class="carousel-item">
        <div class="img3 d-block w-100">
          <h6 class="has-text-align-left" id="texto-carrossel">a j u d e</h6>
        </div>
      </div>
      <!-- fim imagens carrossel -->
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-target="#carouselExampleIndicators"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-target="#carouselExampleIndicators"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
  <!-- FIM CARROSSEL -->
</div>

<div class="container-fluid d-flex flex-column align-items-center p-5">
  <!--Sobre Nós-->

  <!-- logo -->
  <div class="d-flex justify-content-center">
    <img src="../../assets/img/logo-peteca.svg" id="logo" class="" />
  </div>

  <!-- call-to-action -->

  <div class="" id="maozinha">
    <h1 class="d-flex my-4 text">Encontre ou dê uma mãozinha</h1>
    
    <div class="row">
      <a routerLink="/feed"><button class=" btn rounded-pill text-white botao-laranja">Oferte</button></a>
      <a routerLink="/feed"><button class="btn rounded-pill text-white botao-azul">Procure</button></a>
    </div>
  </div>
</div>

<!-- possibilidades -->
<div class="">
  <img src="../../assets/img/possibilidades@2x.png" class="w-100" />
</div>

<!-- Nosso Time -->
<nav id="time-area">
  <div class="row d-flex container-fluid bg-transparent justify-content-around">
    <h2 class="row d-flex col-10 justify-content-center mt-5" id="titulo">
      nosso time :)
    </h2>

    <div class="d-flex-md-3 col-2 mx-1">
      <div class="d-flex justify-content-center mb-4">
        <img
          class="col-10 y-2"
          id="img-element"
          src="../../assets/img/Jessica.svg"
          alt=" "
        />
      </div>
      <h4 class="row justify-content-center d-flex text-dark mb-4">
        Jessica Curti
      </h4>
      <p class="row justify-content-center text-justify" id="descricao-element">
        Dev Web Front-End e Biomédica especializada em Informática em Saúde pela
        UNIFESP. Atuou com atendimento ao cliente, pesquisa clínica, gestão
        empresarial e implantação de software.
      </p>
    </div>

    <div class="d-flex-md-3 col-2 mx-1">
      <div class="d-flex justify-content-center mb-4">
        <img
        class="col-10 y-2"
        id="img-element"
        src="../../assets/img/Gustavo.svg"
          alt=" "
        />
      </div>
      <h4 class="row justify-content-center text-dark mb-4">
        Gustavo Oliveira
      </h4>
      <p class="row justify-content-center text-justify" id="descricao-element">
        Dev Web formado em Gestão de RH. Ajudou na elaboração de uma aplicação
        onde houve redução no consumo de papel do departamento e estuda
        linguagem de programação voltado à inteligência artificial.
      </p>
    </div>

    <div class="d-flex-md-3 col-2 mx-1 my-5">
      <div class="d-flex justify-content-center mb-4">
        <img
        class="col-10 y-2"
          id="img-element "
          src="../../assets/img/Karolyne.svg"
          alt=" "
          />
        </div>
        <h4 class="row justify-content-center text-dark mb-4">Karolyne Corol</h4>
        <p class="row justify-content-center text-justify" id="descricao-element">
        Teve a oportunidade de contribuir com kick-off de uma startup como
        Gerente de Projetos e desde então iniciou estudos em Design, Gestão de
        Projetos, Metodologias Ágeis e Linguagens de Programação.
      </p>
    </div>

    <div class="d-flex-md-3 col-2 mx-1">
      <div class="d-flex justify-content-center mb-4">
        <img
          class="col-10 y-2"
          id="img-element"
          src="../../assets/img/Paulo.svg"
          alt=" "
        />
      </div>
      <h4 class="row justify-content-center text-dark mb-4">Paulo Marsiglia</h4>
      <p class="row justify-content-center text-justify" id="descricao-element">
        Bacharel em Lazer e Turismo pela USP, com experiência em atendimento ao
        cliente, eventos, gestão operacional e área comercial, com formação em
        Desenvolvimento Web Java Jr pela ONG Generation Brasil.
      </p>
    </div>
  </div>
</nav>
<!-- fim-possibilidades -->

<!-- Sobre Nós -->
<div id="sobre-nos">
  <img src="../../assets/img/sobre-nos@2x.png" class="w-100" />
</div>
<!--Fim Sobre Nós-->

<!-- Cards Depoimentos -->
<div class="row" id="depoimentos"></div>
      <h2 class="text-center col-12 my-5 w-100">Depoimentos</h2>

      <div class="col-md-12 d-flex">
        
        <!-- Sara Bastos -->
        <div class="mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-3">
              <img
                class="img-fluid rounded float-right"
                id="img-depoimento"
                src="..//../assets/img/dep1.png "
                alt=" "
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <p class="card-text text-justify">O PETECA oportunizou a nossa instituição a viabilidade de um atendimento agilizado, de forma a possibilitar a resolução de problemas que demandam soluções rápidas.</p>
                <hr class="my-2">
                <p class="card-text"><small class="text-muted">- Sara Bastos</small></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Pey Jon Ming -->
        <div class="mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-3">
              <img
              class="img-fluid rounded float-right"
              id="img-depoimento"
              src="..//../assets/img/dep2.png "
              alt=" "
            />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="text-black fs-16 mr-1 mt-3"><i class="fa fa-quote-right" aria-hidden="true"></i></p>
                <p class="card-text text-justify">Responder à demandas da comunidade é um compromisso assumido pela nossa empresa. Sendo assim, por meio do PETECA fomos capazes de devolver ao território onde nos instalamos parte do que produzimos.</p>
                <hr class="my-2">
                <p class="card-text"><small class="text-muted">- Pey Jon Ming</small></p>
              </div>
            </div>
          </div>
        </div>

        <!-- Ruth Castro -->
        <div class="mb-3" style="max-width: 540px;">
          <div class="row no-gutters">
            <div class="col-md-3">
              <img
              class="img-fluid rounded float-right"
              id="img-depoimento"
              src="..//../assets/img/dep3.png "
              alt=" "
            />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <p class="text-black fs-16 mr-1 mt-3"><i class="fa fa-quote-right" aria-hidden="true"></i></p>
                <p class="card-text text-justify">Fui usuária do CRAS Capão e senti os efeitos do PETECA na vida de nós moradores da região. Com o PETECA, a Assistente Social conseguiu para nós um contraturno para as crianças e roupas para os homens que moravam no bairro.</p>
                <hr class="my-2">
                <p class="card-text"><small class="text-muted">- Ruth Castro</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>

<!--Contato-->

<section class="row contato-area bg-light m-0 py-4 vh-10" id="contato">
  <div class="container">
    <div class="row">

      <div class="col-md-5 contato-area-left text-left">
        <h1 style="font-weight: 700">CONTATO</h1>
        <p class="pt-3 pb-3 text-dark text-justify">
          Olá, caso tenha gostado e se interessado no projeto, mande uma
          mensagem para os(as) colaboradores(as).
        </p>

        <p>E-mail: p2eteca@gmail.com</p>

        <p>São Paulo - SP</p>

        <p>Telefone: (00) 0000-0000</p>
      </div>

      <div class="col-md-7 contato-area-right bg-light">
        <form class="row g-3 p-5 bg-light">
          <div class="col-md-12 d-flex">

            <!--Label do Nome-->
            <div class="col-md-6 m-0 pl-0 d-flex align-items-center">
              <label for="Nome"></label>
              <input
                type="text"
                id="nome"
                class="form-control pl-2"
                onkeyup="valorNome()"
                placeholder="Nome"
              />
              <div id="txtNome"></div>
            </div>

            <!--Label de Sobrenome-->
            <div class="col-md-6 m-0 pr-0 d-flex align-items-center">
              <label for="Sobrenome"></label>
              <input
                type="text"
                id="sobrenome"
                class="form-control pl-2"
                onkeyup="valorSobrenome()"
                placeholder="Sobrenome"
              />
              <div id="txtSobrenome"></div>
            </div>
          </div>

          <!--Label de E-mail-->
          <div class="col-md-12">
            <label for="Email"></label>
            <input
              type="email"
              id="email"
              class="form-control pl-2"
              placeholder="E-mail"
            /><br />
          </div>

          <!--Label de Assunto-->
          <div class="col-md-12 d-flex align-items-center">
            <label for="assunto"></label>
            <textarea
              name="assunto"
              id="assunto"
              class="form-control"
              rows="5"
              style="border-radius: 4"
              onkeyup="validaAssunto()"
              placeholder="Mensagem"
            ></textarea>
            <div id="contador"></div>
            <div id="txtAssunto"></div>
          </div>

          <!--Botão de Enviar-->
          <div class="container-fluid d-flex justify-content-end">
            <button class="btn rounded-pill mt-3 botao-laranja text-white">
              Enviar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
