@font-face {
    font-family: Poppins;
    src: url('../../assets/fonts/Poppins/Poppins-Bold.ttf') format('ttf');
}

* {
    font-family: "Poppins";
    background-color: none;
    margin: auto;
    padding: 0;
    color: white;
}


#navbar {
  font-family: 'Poppins';
  font-weight: 600;
}

/* Logo */
#logo {
  height: 60%;
  width: 60%;
}

#botao-laranja {
  width: 260px;
  height: 60px;
  border: transparent;
  background-color: #f5952c;
}

#botao-azul {
  width: 300px;
  height:60px;
  border: transparent;
  background-color: #00C2E0;

}


#img-element {
    display: inline-block;
    align-items: center;
    width: 10%;
    height: 10%;
    border-radius: 70%;
    justify-content: center;
    justify-self: center;
    border: none;
    padding: auto;
    border: auto;
    align-items: center;
}

#maozinha {
  margin: 60px;
}

h1 {
  color: black;
  font-weight: 900
}

#titulo{
  width: 205px;
  height: 112px;
  font-size: 80px;
  font-weight: bold;
  margin-top: 60px;
}

#depoimentos-section {
  margin: 40px;
}

/* CARROSSEL*/

#texto-carrossel {
  font-size: 200px;
  font-weight:900;
  color: #f5942c8c;
  text-align: center;
}

.img0 {
    height: 60vh;
    width: 100vw;
}

.img1 {
    background-image: url("../../assets/img/carrossel-01.png");
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url("../../assets/img/carrossel-02.png");
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url("../../assets/img/carrossel-03.png");
    height: 60vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

li {
    list-style-type: none;
}

.inicio {
    margin-top: -25px;
}

.navegacao {
    z-index: 10;
    position: relative;
}


/*FIM CARROSSEL*/

/* NOSSO-TIME */
#descricao-element {
  color: black;
  font-style: normal;
}


/*DEPOIMENTOS*/

#depoimentos {
  background-color: none;
  color: black;
}

h4 {
  font-weight: bold;
  color: white;
}

h2{
  width: 205px;
  height: 112px;
  font-size: 80px;
  font-weight: bold;
  color: black;

}

#depoimento-element {
  color: black;
  font-style: italic;
}



/*FIM - DEPOIMENTOS*/
