@font-face {
    font-family: Poppins;
    src: url('../../assets/fonts/Poppins/Poppins-Bold.ttf') format('ttf');
}

* {
    font-family: "Poppins";
    background-color: none;
    margin: auto;
    /* box-sizing: border-box; */
    padding: 0;
    border: none;
    max-width: 100%;
}

img {
  height: 60%;
  width: 60%;
}


/*


#nosso-time-titulo {
    background-color: #856AB4;
    width: auto;
    height: auto;
    font-family: Poppins;
    font-size: auto;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    padding: 05%;
    border: 05%;
    margin: 05%;
    overflow-x: 05%;
}




#depoimento-titulo {
    width: auto;
    height: auto;
    font-family: Poppins;
    font-size: auto;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    padding: 05%;
    border: 05%;
    margin: 05%;
    overflow-x: 05%;
}




#time-area {
    background-color: #856AB4;
    justify-content: auto;
    width: auto;
    height: auto;
    object-fit: contain;
    font-family: Poppins;
    line-height: 1.53;
    letter-spacing: normal;
    padding: 05%;
    border: 05%;
    overflow-x: 05%;
    color: #000;
    align-items: center;
}




depoimento-area {
    justify-content: auto;
    width: auto;
    height: auto;
    object-fit: contain;
    font-family: Poppins;
    line-height: 1.53;
    letter-spacing: normal;
    padding: 05%;
    border: 05%;
    overflow-x: 05%;
    color: black;
    align-items: center;
}




#nosso-time-titulo {
    color: #FFFDF7;
    font-family: Poppins;
    font-size: 51px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    border: none;
    padding: 05%;
    border: 05%;
    overflow-x: 05%;
    align-items: center;
    justify-content: center;
    align-items: center;
}




element {
    background-color: #856AB4;
    padding: 20%;
    border: 20%;
    margin: 20%;
    text-align: center;
    display: inline-block;
    align-items: center;
    width: auto;
    height: auto;
    background: transparent;
    justify-content: center;
    justify-self: center;
}




#descricao-element {
    text-align: justify;
    background-color: none;
    padding: 05%;
    border: 05%;
    overflow-x: 05%;
    font-family: Poppins;
    font-size: 34px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.53;
    letter-spacing: normal;
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fffdf7;
    align-items: center;
}




.container-d-flex-md-3-col-3 {
    background-color: #856AB4;
    justify-content: center;
}




#img-element {
    display: inline-block;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 70%;
    justify-content: center;
    justify-self: center;
    border: none;
    padding: auto;
    border: auto;
    align-items: center;
}




#descricao-element {
    color: #FFFDF7;
}

#depoimento-element {
    color: black;
    font-family: poppins;
    font-size: 20px;
}

h4 {
    color: #FFFDF7;
    font: 900px;
}

/*

/* CARROSSEL*/

#texto-carrossel {
  font-size: 200px;
  font-weight:900;
  color: #F5952C;
  text-align: center;
}

.img1 {
    background-image: url("../../assets/img/carrossel-01.png");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.img2 {
    background-image: url("../../assets/img/carrossel-02.png");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.img3 {
    background-image: url("../../assets/img/carrossel-03.png");
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

li {
    list-style-type: none;
}

.inicio {
    margin-top: -25px;
}

.navegacao {
    z-index: 10;
    position: relative;
}


/*FIM CARROSSEL*/

/*DEPOIMENTOS*/

#depoimentos {
  background-color: #00C2E0;
  color: white;
}

h2 {
  font-weight: bolder;
}

h4 {
  font-weight: bold;
  color: white;
}

/*FIM - DEPOIMENTOS*/
